<div class="row">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			<a class="brand" href="#/">Songchirp</a>
			<ul class="nav">
				<li><a href="#/music">Music</a></li>
				<li><a href="#/new">Add</a></li>
				<li><a href="#/automat">Automat</a></li>
				<li class="active"><a href="#/about">About</a></li>
			</ul>
	    </div>
	  </div>
	</div>
</div>

<div class="row">
	Hello this is my experimental app intended to listening and sharing your favorite music across the online.<br/>
	<a href="https://github.com/sharavsambuu/songchirp">GITHUB REPO</a><br/>
	<a href="http://www.twitter.com/_prompto">@_prompto</a>
</div>
