<div class="row">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			<a class="brand" href="#/">Songchirp</a>
			<ul class="nav">
				<li><a href="#/">Home</a></li>
				<li><a href="#/new">New</a></li>
				<li><a href="#/music">Music</a></li>
				<li class="active"><a href="#/about">About</a></li>
			</ul>
	    </div>
	  </div>
	</div>
</div>

<div class="row">
	<center>
	<address>
	  <!--
	  <strong>Sharavsambuu Gunchinish</strong><br>
	  <a href="mailto:#">sharavsambuu@gmail.com</a><br/>
	  Muren, Khuvsgul, Mongolia<br>
	  <abbr title="Phone"></abbr>
	  -->
	  <a href="http://www.twitter.com/_prompto">@_prompto</a>
	</address>

	</center>
</div>