<div class="row">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			<a class="brand" href="#/">Songchirp</a>
			<ul class="nav">
				<li><a href="#/music">Music</a></li>
				<li><a href="#/new">Add</a></li>
				<li class="active"><a href="#/automat">Automatique</a></li>
				<li><a href="#/about">About</a></li>
			</ul>
	    </div>
	  </div>
	</div>
</div>
<div class="row">
	<p>This section can helps you to discover your favorite music, just enter your favorite band name</p>
	<hr>
	<form ng-submit="searchYoutubeMusic()">
		<input type="text" ng-model="searchText" size="80" placeholder="band name..."/>
	</form>
	<hr>
	<!--<div id="youtubeMusic" style="width: 360px; height: 300px; z-index: -5;" ></div>
	<div id="scanline"></div>-->
	Results :
	<br/><br/>
	<div ng-repeat="music in songs">
		<a href="#/search/{{music.artist}}+" - "+{{music.title}}">{{music.artist}} - {{music.title}}</a>
	</div>
	<hr>
	
</div>