<div class="row">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			<a class="brand" href="#/">Songchirp</a>
			<ul class="nav">
				<li class="active"><a href="#/music">Music</a></li>
				<li><a href="#/new">Add</a></li>
				<li><a href="#/about">About</a></li>
			</ul>
	    </div>
	  </div>
	</div>
</div>
<div class="row">
	<a class="btn btn-large btn-warning" href="#/next"><i class="icon-play"></i> Play radio</a>
	<br/><br/>
	Recently added songs <br/>
	<table class="table table-hover">
		<tr ng-repeat="music in musicList">
			<td><img ng-src="assets/img/{{music.type}}.png"/></td>
			<td><a href="#/music/{{music.id}}"><b>{{music.name}}</b></a></td>
		    <td>{{music.play_count}}</td>
		</tr>
	</table>
</div>