<div class="row">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
			<a class="brand" href="#/">Songchirp</a>
			<ul class="nav">
				<li><a href="#/music">Music</a></li>
				<li class="active"><a href="#/new">Add</a></li>
				<li><a href="#/about">About</a></li>
			</ul>
	    </div>
	  </div>
	</div>
</div>

<div class="row">
	<div class="span4">
		<form ng-submit="submitMusic()">
			<select name="type" ng-model="musicType" ng-options="musicType for musicType in musicTypes"></select><br/>
			<input  name="name" type="text" ng-model="musicName" size="30" placeholder="music name..." required ><br/>
			<textarea name="musicSource" type="text" ng-model="musicSource" placeholder="music link..." required ></textarea><br/>
			<input class="btn-primary" type="submit" value="add">
		</form>
		<br/>
		{{musicType | json}}<br/>
		{{musicName | json}}<br/>
		{{musicSource | json}}<br/>
	</div>
	<div class="span8">
		<form ng-submit="searchMusic()">
			<input type="text" ng-model="searchText" size="80" placeholder="search value..."/>
		</form>
		<div ng-repeat="music in musicList">
			<a href="#/music/{{music.id}}"><b> {{music.name}}</b></a> 
		</div>

		<!--
		<button class="btn" ng-click="generateMusicQueue()">generate music queue</button>
		-->
	</div>

</div>